@charset "utf-8";
/* CSS Document */





.desktop-view { display:none; }





.mobile-header {
	position:fixed; z-index:2;
	width:100%; height:75px;
}

.hd-mobile {
	width:950px; height:100%; margin:0 auto;
}

.logo-mobile {
	float:left;
	margin-top:23px;
}

.mobile-toggle {
	float:right;
	margin-top:30px;
}

.mobile-toggle div:first-child {
	width:15px; height:1px;
	background:#FFF;
}

.mobile-toggle div:nth-child(2) {
	width:25px; height:1px; margin-top:6px;
	background:#FFF;
}

.mobile-toggle div:last-child {
	width:20px; height:1px; margin-top:6px;
	background:#FFF;
}

.mobile-main-menu-box {
	display:none;
}





/* slide:start */
.slide {
	position: relative;
	overflow: hidden;
	margin:0; padding:0;
}

.panel {
	width: 400%;
}

.panel:after {
	content: "";
	display: block;
	clear: both;
}

.panel>li {
	width:25%;
	height: 100%;
	float: left;
	position:relative;
}

.dot:after {
	content: "";
	display: block;
	clear: both;
}

.dot {
	position: absolute;
	left:50%;
	bottom:75px;
	transform: translate(-50%);
}

.dot>li {
	float: left;
	height: 30px;
	margin:0 24px;
	text-align:center;
	color:#FFF;
	cursor: pointer;	
}

.dot>li.on {	
	border-bottom:1px solid #FFF;
}






.slide-box {
	width:100vw;
	height:100vh;
}

.slide-box img, .slide-box video {
	position:absolute; left:50%; transform:translateX(-50%);
	align-content:center;
	min-width:100%;
	min-height:100%;
}

.slogan-box {	
	position:absolute;
	left:50%;
	top:40%;
	transform: translate(-50%);
	width:930px;
	height:240px;	
	text-align:center;
	z-index:1;
}

.slogan-box h2 { 
	line-height:48px;
}

.slogan-box p { 
	margin-top:28px;
	line-height:30px; color:#FFF;
}

.slogan-box button {
	font-family:'NSR'; font-size:18px;
	width:205px; height:50px; margin-top:50px; background:rgba(0,0,0,0);
	border:1px solid #FFF;
	border-radius:205px;
	outline:none;
	-webkit-transition:all 0.25s ease;
 	-moz-transition:all 0.25s ease;
   	-o-transition:all 0.25s ease;
  	-ms-transition:all 0.25s ease;
  	transition:all 0.25s ease;
}

.slogan-box button a {
	display:block;
	width:205px; height:50px;
	line-height:48px;
	-webkit-transition:all 0.25s ease;
 	-moz-transition:all 0.25s ease;
   	-o-transition:all 0.25s ease;
  	-ms-transition:all 0.25s ease;
  	transition:all 0.25s ease;
}

.slogan-box button:hover {	background:#FFF; }
.slogan-box button:hover a { color:#d32721; }
/* slide:end */





/* icone:start */
.icone {
	width:900px; height:500px; margin:0 auto;
}

.icone-box {
	float:left;
	width:33.33%; margin-top:130px;
}

.icone-box img {
	display:block;
	margin:0 auto;
}

.icone-box h3 {
	font-size:30px; color:#CB0035; text-align:center; line-height:15px;
}

.icone-box p {
	margin-top:20px; padding:0 25px;
	font-size:18px; text-align:center; line-height:30px;
}
/* icone:end */





/* video:start */
.video {
	width:100%; height:2000px;
	background:#F9F9F9;
}

.video-box {
	width:1000px; height:100%; margin:0 auto;
}

.top-image, .bottom-image {
	width:1000px; height:562px; margin:0 auto;
	-webkit-transition:all 0.4s ease;
 	-moz-transition:all 0.4s ease;
   	-o-transition:all 0.4s ease;
  	-ms-transition:all 0.4s ease;
  	transition:all 0.4s ease;
}

.top-image {
	background:url("../imgs/video/top-bg.jpg") no-repeat center;	
	background-size:100%;
}

.bottom-image {
	background:url("../imgs/video/bottom-bg.jpg") no-repeat center;
	background-size:100%;
}

.top-content, .bottom-content {
	width:900px; height:438px; margin:0 auto;
}

.top-content>h3, .bottom-content>h3 {
	font-size:36px; color:#CB0035; line-height:36px; padding-top:100px;
}

.video-p-box {
	width:900px; height:148px; margin-top:14px;
}
.top-content p, .bottom-content p {	
	line-height:36px;
}

.top-content>button, .bottom-content>button {
	float:right;
	width:205px; height:50px;
	border:1px solid #4662a8;
	border-radius:50px;
	background:#4662a8;
	outline:none;
	transition:all 0.25s ease;
}

.top-content>button>a, .bottom-content>button>a {
	display:block;	
	width:205px; height:50px;
	line-height:48px;
}

.top-content>button:hover, .bottom-content>button:hover {
	width:205px; height:50px;
	border:1px solid #E06900;
	background:#E06900;
}
/* video:end */





/* search:start */
.search {
	width:100%; height:480px; background:url("../imgs/search/search-bg.jpg")no-repeat center center;
}

.search-box {
	width:1000px; height:480px; margin:0 auto;
}

.search-box h2 {
	padding-top:153px;
	font-size:42px; text-align:center; line-height:42px;
}

.search-box input {
	display:block;
	float:left;
	margin-top:53px; margin-left:50%;
	transform:translate(-192.5px);
	outline:none;
}

.search-box input[type="text"] {
	width:305px; height:50px; padding-left:30px;
	background:rgba(255, 255, 255, 0.15);
	border:1px solid rgba(255, 255, 255, 0.5);
	border-radius:50px;
	font-family:'NSR'; color:#FFF; font-size:18px;
}

.search-box input::placeholder {
	font-family:'NSR'; color:#FFF; font-size:18px;
}


.search-box input[type="submit"] {
	width:135px; height:50px; margin-left:-67.5px;
	background:#FFF;
	border:1px solid #FFF;
	border-radius:50px;
	font-family:'NSR'; color:#CB0035; font-size:18px;
	cursor:pointer;
}
/* search:end */





/* footer:start */
footer {
	width:1000px; height:300px; margin:0 auto;
	background:#FFF;
}

footer p {
	text-align:center;
}

footer p:first-child {
	margin-top:70px;
	font-size:16px;
}

footer p:last-child {
	font-family:'PNR' Regular; font-size:16px;
}
/* footer:end */